body {
  font-family: Arial, sans-serif;
}

.heading {
  font-size: 30px;
  line-height: 36px;
  color: #445161;
}

.text {
  font-size: 16px;
  line-height: 24px;
  color: #333;
}

.header {
  background-color: #445161;
}

.header__container {
  width: 1140px;
  margin: 0 auto;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__title {
  font-size: 60px;
  line-height: 69px;
  color: #FFF;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 50px;
  margin-bottom: 40px;
}

.header__list {
  list-style-image: url(images/tick.svg);
  list-style-position: inside;
  margin-top: 40px;
  margin-left: 50px;
  margin-bottom: 19px;
}

.header__list-text {
  color: #FFF;
}

.header__list-text:not(:last-child) {
  padding-bottom: 10px;
}

.header__img {
  width: 472px;
  margin-top: 25px;
  margin-right: 50px;
  margin-bottom: 33px;
}

.about-product {
  width: 1140px;
  margin: 0 auto;
}

.about-product .heading {
  margin-bottom: 17px;
}

.about-product .text {
  width: 546px;
}

.about-product .text:not(:last-child) {
  margin-bottom: 11px;
}

.about-product__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 45px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
}

.about-product__info {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 546px;
}

.about-product__img {
  width: 430px;
}

.description {
  width: 1140px;
  margin: 0 auto;
  background-color: #F5F5F5;
  padding-top: 25px;
}

.description .heading {
  text-align: center;
  margin-bottom: 15px;
  padding: 0;
}

.description__paragraphs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 48px;
}

.description .text {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: right;
}

.description .text::before {
  content: url(images/plus_icon.svg);
  margin-right: 10px;
  float: left;
}

.screenshots {
  width: 1140px;
  margin: 0 auto;
}

.screenshots .heading {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 45px;
}

.screenshots__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.screenshots__item {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 10px 30px 30px;
}

.screenshots__small-heading {
  font-size: 24px;
  line-height: 30px;
  color: #445161;
  margin-bottom: 13px;
}

.screenshots__img {
  width: 200px;
  margin-right: 14px;
}

.reviews {
  width: 1140px;
  margin: 0 auto;
  background-color: #F5F5F5;
}

.reviews .heading {
  text-align: center;
  padding-top: 25px;
  margin-bottom: 30px;
}

.reviews__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reviews__item {
  width: 45%;
  margin-left: 30px;
  margin-right: 20px;
  margin-bottom: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews__img {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  margin-right: 15px;
}

.reviews blockquote {
  background-color: #EBEBEB;
  padding-bottom: 5px;
}

.reviews .text {
  background-color: #EBEBEB;
  width: 95%;
  padding: 15px 10px 10px 15px;
  position: relative;
}

.reviews cite {
  padding: 0 0 5px 15px;
  font-size: 14px;
  line-height: 18px;
  color: #989898;
  font-style: italic;
}

.reviews .text::before {
  content: '';
  position: absolute;
  left: -30px;
  top: 40px;
  border: 20px solid transparent;
  border-right: 20px solid #EBEBEB;
}

.buy-it {
  width: 1140px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}

.buy-it .heading {
  text-align: center;
  margin-top: 45px;
  margin-bottom: 30px;
}

.buy-it__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 70px 50px 70px;
}

.buy-it__card {
  max-width: 300px;
  background-color: #445161;
  border-radius: 5px;
  border: solid 1px #445162;
}

.buy-it__card__small-heading {
  font-size: 24px;
  line-height: 30px;
  color: #FFF;
  text-align: center;
  padding: 15px 0 10px;
  max-width: 300px;
}

.buy-it__card__price {
  background-color: #FFF;
  width: 300px;
  height: 71px;
  font-size: 40px;
  line-height: 30px;
  color: #445162;
  text-align: center;
  padding-top: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.buy-it__card__list {
  list-style: inside;
  list-style-type: decimal;
}

.buy-it__card__button {
  width: 262px;
  height: 43px;
  color: #445161;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  background-color: #FFF;
  border: none;
  text-decoration: none;
  border-radius: 3px;
  margin: 20px;
}

.buy-it .text {
  max-width: 300px;
  font-size: 14px;
  line-height: 24px;
  color: #FFF;
  padding: 7px 8px 0 20px;
}

.footer {
  background-color: #445162;
}

.footer__container {
  width: 1140px;
  margin: 0 auto;
}

.footer .heading {
  color: #FFF;
  text-align: center;
  padding-top: 25px;
  margin-bottom: 40px;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-self: center;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=styles.css.map */